<!DOCTYPE html>
<head>
  <title>About</title>
  <link rel="icon" href="/img/robot.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <h2>Created by {{name}}</h2>
    <img src="/img/robot.png" class="portrait" alt="">
  </div>
  {{>footer}}
</body>


</html>